body{
    width: 960px;
    margin: 20px auto 0 auto;
}
div, footer{
    background: silver;
}
nav, section, main, footer{
    display: grid;
    width: 100%;
    margin-bottom: 10px;
}

nav{
    
    grid-template: 80px / 200px 1fr;
    grid-gap: 250px;
}

nav div:last-of-type{
    height: 70px;
    align-self: center;
}

section{
    grid-template-rows: 200px; 
}
main{
    background: #EDEDED;
    height: 160px;
    grid-template: 160px / repeat(2, 470px);
    grid-gap: 20px;
    align-content: center;
    justify-content: space-evenly;
}
ul{
    display: grid;
    list-style: none;
    justify-content: center;
    grid-template-columns:repeat(4, 1fr);
    background: silver;
    
}
li{
    align-items: center;
    align-self: center;
    justify-content: center;
}

.container{
    width: 960px;
    height: 420px;
    margin: 20px auto 0 auto;
    background: #EDEDED;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 20px;
}
h1{
    font-size: 50px;
}

.item{
    background: silver;
}

footer{
    height: 60px;
    align-items: center;
    justify-items: center;
}